<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjut.mapping.AdMapper">
	<resultMap type="com.zjut.pojo.Advertise" id="AdResultMap">
		<id column="ID" property="ID" />
		<result column="AdID" property="AdID" />
		<result column="DevID" property="DevID" />
		<result column="UserID" property="UserID" />
		<result column="Type" property="Type" />
		<result column="ResieterTime" property="ResieterTime" />
		<result column="StartTime" property="StartTime" />
		<result column="EndTime" property="EndTime" />
		<result column="Duration" property="Duration" />
		<result column="CurrentTime" property="CurrentTime" />
		<result column="UploadPath" property="UploadPath" />
		<result column="RealPath" property="RealPath" />
		<result column="AdName" property="AdName" />
		<result column="ViewNum" property="ViewNum" />
		<result column="Status" property="Status" />
	</resultMap>

	<update id="updateAdStatusBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update advertise
			<set>
				Status=${item.AdStatus}+1
			</set>
			where AdID = ${item.AdID}
		</foreach>
	</update>
	
	<update id="updateAdStatus">
	     update advertise
	     <set>
	         Status=#{1}
	     </set>
	     where AdID =#{0}
	</update>
</mapper>
