iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-size: 14px;
	height: 100%;
	color: #333;
	bottom: 0px;
	background: #fff;
	font-family: "Microsoft YaHei", "simsun", "Helvetica Neue", Arial,
		Helvetica, sans-serif;
	margin: 0px;
	background: #fff;
}

html {
	height: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mypanel {
	background: #fff;
	height: 100%;
}

.admin-panel {
	
}

.panel-head {
	background-color: #fafafa;
	padding: 10px 15px;
	border-radius: 4px 4px 0 0;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-top: solid 1px #ddd;
}

.search-toolbar {
	display: inline-block;
	vertical-align: inherit;
	width: 20%;
}

.search-toolbar-content {
	display: table;
	background-color: #fff;
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075)*/
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.search-toolbar-key {
	font-size: 12px;
	vertical-align: middle;
	display: table-cell;
	white-space: nowrap;
	border-right: 1px solid #eee;
	padding-left: 5px;
}

.search-toolbar-content input {
	width: 100%;
	vertical-align: middle;
	display: table-cell;
	border: 0;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.textbox{
	border: 0;
}

.selectbox{
	display:inline-block;
	border: 1px solid #D3D3D3;
	border-radius: 3px 3px 3px 3px;
}

/*详情相关页面css，只所以单独放在这边，是为了防止pintuer.css和easyui的样式文件冲突导致
  easyui组件显示不正常*/
.basicinfo_container{
	border-radius: 4px 4px 4px 4px; border: solid 1px #ddd; padding: 5px;
}

.basicinfo_rowstyle{
	overflow: hidden;
    height: 32px;
    line-height: 32px;
    margin-bottom: 8px;
}

.