@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.header {
	width: 100%;
	height: 65px;
	background-color: #ffffff;
}

.header img{
	margin: 5px 5px 10px 5px;
}

.logo_title{
	position:absolute;
	color: #008de8;
	height: 65px;
	margin-top: -65px;
	margin-left: 200px;
	font-size: 16px;
	font-family: PingFangSC-Light, "helvetica neue", "hiragino sans gb", tahoma, "microsoft yahei ui", "microsoft yahei", simsun, sans-serif;
}

.logo_title a{
	line-height: 60px;
}